/* ==========================================
   Fade-in
   ========================================== */
@keyframes fadein {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* ==========================================
   background
   ========================================== */
@keyframes fadein_bg {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ==========================================
   Dashboard slide-up anime
   ========================================== */
@keyframes slideup {
    from { opacity: 0; transform: translateY(45px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* to dashboard */
#main-dashboard {
    animation: slideup 0.8s ease forwards;
}
